**EVALUACIÓN 1 DE CIENCIA DE DATOS ESPACIALES

In [1]:
#Estos son las 3 fuentes de datos de países 

electricityLink='https://www.worldometers.info/energy/'
populationLink= 'https://www.cia.gov/the-world-factbook/field/population/country-comparison/'
co2Link='https://www.worldometers.info/co2-emissions/co2-emissions-by-country/'

import pandas as pd
co2List =pd.read_html(co2Link, header=0,flavor='bs4')
electricityList =pd.read_html(electricityLink, header=0,flavor='bs4')
populationList =pd.read_html(populationLink, header=0,flavor='bs4')

co2 = co2List[0]
electricity = electricityList[0]
population = populationList[0]

In [2]:
#merging

co2.shape, population.shape, electricity.shape

((209, 7), (237, 4), (209, 5))

In [3]:
#nombre de las clumnas de los dataframes

co2.columns, population.columns, electricity.columns

(Index(['#', 'Country', 'CO2 Emissions  (tons, 2016)', '1 Year  Change',
        'Population  (2016)', 'Per  capita', 'Share  of world'],
       dtype='object'),
 Index(['Rank', 'Country', 'Unnamed: 2', 'Date of Information'], dtype='object'),
 Index(['#', 'Country', 'Energy  Consumption (BTU)', 'World  Share',
        'Per capita Yearly BTU'],
       dtype='object'))

In [4]:
#La cantidad de coincidencias entre co2 y population que tendra el merge

co2.merge(population,how='inner',left_on='Country',right_on='Country').shape

(185, 10)

In [5]:
co2.merge(electricity,how='inner',left_on='Country',right_on='Country').shape

(206, 11)

In [6]:
electricity.merge(population,how='inner',left_on='Country',right_on='Country').shape

(184, 8)

In [7]:
#Realizamos el merge

combinacion_1=co2.merge(population,left_on='Country',right_on='Country')
combinacion_1

,#,Country,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,1,China,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.
1,2,United States,5011686600,-2.01%,327210198,15.32,14.02%,3,339665118,2023 est.
2,3,India,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.
3,4,Russia,1661899300,-2.13%,145109157,11.45,4.65%,9,141698923,2023 est.
4,5,Japan,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.
...,...,...,...,...,...,...,...,...,...,...
180,201,Kiribati,52818,7.18%,118513,0.45,0.00%,189,115372,2023 est.
181,203,Palau,41732,7.19%,17816,2.34,0.00%,218,21779,2023 est.
182,204,Cook Islands,37354,7.19%,17546,2.13,0.00%,223,7939,2023 est.
183,205,Anguilla,30262,1.52%,14813,2.04,0.00%,219,19079,2023 est.
184,209,Greenland,1530,0.86%,55916,0.03,0.00%,206,57777,2023 est.

In [8]:
#vemos las concidencias entre combinacion_1 y electricity

electricity.merge(combinacion_1,how='inner',left_on='Country',right_on='Country').shape

(183, 14)

In [9]:
#realizamos el merge entre la primera combinación y el 3er dataframe

combinacion_2=electricity.merge(combinacion_1,left_on='Country',right_on='Country')
combinacion_2

,#_x,Country,Energy Consumption (BTU),World Share,Per capita Yearly BTU,#_y,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,1,China,138689472800000,23.8%,98342,1,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.
1,2,United States,97661161460000,16.8%,296130,2,5011686600,-2.01%,327210198,15.32,14.02%,3,339665118,2023 est.
2,3,Russia,32832743720000,5.6%,225728,4,1661899300,-2.13%,145109157,11.45,4.65%,9,141698923,2023 est.
3,4,India,30476788610000,5.2%,22505,3,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.
4,5,Japan,19402928820000,3.3%,153186,5,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,199,British Virgin Islands,3397977000,0.00058%,113040,197,99762,1.51%,29739,3.35,0.00%,213,39369,2023 est.
179,201,Vanuatu,3059838000,0.00053%,10542,195,137706,7.18%,283218,0.49,0.00%,179,313046,2023 est.
180,206,Tonga,1807000000,0.00031%,17142,190,251375,7.19%,105707,2.38,0.00%,191,105221,2023 est.
181,207,Cook Islands,1677278000,0.00029%,96423,204,37354,7.19%,17546,2.13,0.00%,223,7939,2023 est.
182,209,Kiribati,46100000,0.00001%,383,201,52818,7.18%,118513,0.45,0.00%,189,115372,2023 est.

In [10]:
#Ahora realizaremos el merge con los datos del profesor 
import os
tabla_profesorLink='https://github.com/juandiegopozo-10/evaluacion1datos/blob/main/country_isos.xlsx'
import pandas as pd 
Tabla_1 = pd.read_excel(os.path.join('country_isos.xlsx'))
Tabla_1

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [11]:
# ahora convertiremos todos los paises del primer merge (combinacion_2) ha mayúscula para que así haya coincidencias

combinacion_2['Country'] = combinacion_2['Country'].str.upper()
combinacion_2

,#_x,Country,Energy Consumption (BTU),World Share,Per capita Yearly BTU,#_y,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,1,CHINA,138689472800000,23.8%,98342,1,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.
1,2,UNITED STATES,97661161460000,16.8%,296130,2,5011686600,-2.01%,327210198,15.32,14.02%,3,339665118,2023 est.
2,3,RUSSIA,32832743720000,5.6%,225728,4,1661899300,-2.13%,145109157,11.45,4.65%,9,141698923,2023 est.
3,4,INDIA,30476788610000,5.2%,22505,3,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.
4,5,JAPAN,19402928820000,3.3%,153186,5,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,199,BRITISH VIRGIN ISLANDS,3397977000,0.00058%,113040,197,99762,1.51%,29739,3.35,0.00%,213,39369,2023 est.
179,201,VANUATU,3059838000,0.00053%,10542,195,137706,7.18%,283218,0.49,0.00%,179,313046,2023 est.
180,206,TONGA,1807000000,0.00031%,17142,190,251375,7.19%,105707,2.38,0.00%,191,105221,2023 est.
181,207,COOK ISLANDS,1677278000,0.00029%,96423,204,37354,7.19%,17546,2.13,0.00%,223,7939,2023 est.
182,209,KIRIBATI,46100000,0.00001%,383,201,52818,7.18%,118513,0.45,0.00%,189,115372,2023 est.

In [12]:
#ahora sí realizamos el merge con la tabla proporcionada por el profesor 

Tabla_1.merge(combinacion_2,how='inner',left_on='Country',right_on='Country').shape

(142, 18)

In [13]:
combinacion_final = combinacion_2.merge(Tabla_1,left_on='Country',right_on='Country')

#Este seriasería el resultado final 
combinacion_final

,#_x,Country,Energy Consumption (BTU),World Share,Per capita Yearly BTU,#_y,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information,Officialstatename,InternetccTLD,iso2,iso3
0,1,CHINA,138689472800000,23.8%,98342,1,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.,The People's Republic of China,.cn,CN,CHN
1,4,INDIA,30476788610000,5.2%,22505,3,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.,The Republic of India,.in,IN,IND
2,5,JAPAN,19402928820000,3.3%,153186,5,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.,Japan,.jp,JP,JPN
3,6,CANADA,15062124200000,2.6%,412047,7,675918610,-1.00%,36113532,18.72,1.89%,38,38516736,2023 est.,Canada,.ca,CA,CAN
4,7,GERMANY,14062539590000,2.4%,170198,6,775752190,1.28%,82331423,9.42,2.17%,18,84220184,2023 est.,The Federal Republic of Germany,.de,DE,DEU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,191,BURUNDI,5374860000,0.00092%,482,169,1093618,2.81%,10903327,0.10,0.00%,77,13162952,2023 est.,The Republic of Burundi,.bi,BI,BDI
138,192,CHAD,4879681000,0.00084%,323,158,1670941,2.14%,14592585,0.11,0.00%,66,18523165,2023 est.,The Republic of Chad,.td,TD,TCD
139,193,SOLOMON ISLANDS,4770491000,0.00082%,7412,185,341748,7.18%,628102,0.54,0.00%,167,714766,2023 est.,The Solomon Islands,.sb,SB,SLB
140,195,GUINEA-BISSAU,4395213000,0.00075%,2338,186,318706,2.59%,1834552,0.17,0.00%,151,2078820,2023 est.,The Republic of Guinea-Bissau,.gw,GW,GNB
141,196,GRENADA,4338852000,0.00075%,35882,178,554848,1.51%,119966,4.63,0.00%,190,114299,2023 est.,Grenada,.gd,GD,GRD

In [14]:
#por último limpiamos un poco la data
combinacion_final.columns = combinacion_final.columns.str.replace(' ', '_')

combinacion_final

,#_x,Country,Energy__Consumption_(BTU),World__Share,Per_capita_Yearly_BTU,#_y,"CO2_Emissions__(tons,_2016)",1_Year__Change,Population__(2016),Per__capita,Share__of_world,Rank,Unnamed:_2,Date_of_Information,Officialstatename,InternetccTLD,iso2,iso3
0,1,CHINA,138689472800000,23.8%,98342,1,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.,The People's Republic of China,.cn,CN,CHN
1,4,INDIA,30476788610000,5.2%,22505,3,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.,The Republic of India,.in,IN,IND
2,5,JAPAN,19402928820000,3.3%,153186,5,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.,Japan,.jp,JP,JPN
3,6,CANADA,15062124200000,2.6%,412047,7,675918610,-1.00%,36113532,18.72,1.89%,38,38516736,2023 est.,Canada,.ca,CA,CAN
4,7,GERMANY,14062539590000,2.4%,170198,6,775752190,1.28%,82331423,9.42,2.17%,18,84220184,2023 est.,The Federal Republic of Germany,.de,DE,DEU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,191,BURUNDI,5374860000,0.00092%,482,169,1093618,2.81%,10903327,0.10,0.00%,77,13162952,2023 est.,The Republic of Burundi,.bi,BI,BDI
138,192,CHAD,4879681000,0.00084%,323,158,1670941,2.14%,14592585,0.11,0.00%,66,18523165,2023 est.,The Republic of Chad,.td,TD,TCD
139,193,SOLOMON ISLANDS,4770491000,0.00082%,7412,185,341748,7.18%,628102,0.54,0.00%,167,714766,2023 est.,The Solomon Islands,.sb,SB,SLB
140,195,GUINEA-BISSAU,4395213000,0.00075%,2338,186,318706,2.59%,1834552,0.17,0.00%,151,2078820,2023 est.,The Republic of Guinea-Bissau,.gw,GW,GNB
141,196,GRENADA,4338852000,0.00075%,35882,178,554848,1.51%,119966,4.63,0.00%,190,114299,2023 est.,Grenada,.gd,GD,GRD

In [15]:
combinacion_final = combinacion_final.sort_values(by='Country')
combinacion_final

,#_x,Country,Energy__Consumption_(BTU),World__Share,Per_capita_Yearly_BTU,#_y,"CO2_Emissions__(tons,_2016)",1_Year__Change,Population__(2016),Per__capita,Share__of_world,Rank,Unnamed:_2,Date_of_Information,Officialstatename,InternetccTLD,iso2,iso3
90,119,AFGHANISTAN,144694375000,0.0248%,4059,102,9900004,7.13%,34636207,0.29,0.03%,37,39232003,2023 est.,The Islamic Republic of Afghanistan,.af,AF,AFG
97,128,ALBANIA,111843460000,0.0192%,38843,130,5208319,4.45%,2881063,1.81,0.01%,137,3101621,2023 est.,The Republic of Albania,.al,AL,ALB
23,36,ALGERIA,2398447784000,0.41184%,58305,35,156220560,0.17%,40339329,3.87,0.44%,34,44758398,2023 est.,The People's Democratic Republic of Algeria,.dz,DZ,DZA
64,85,ANGOLA,362803130000,0.0623%,12010,75,30566933,3.13%,29154746,1.05,0.09%,41,35981281,2023 est.,The Republic of Angola,.ao,AO,AGO
134,184,ANTIGUA AND BARBUDA,10605278000,0.00182%,116389,182,438763,1.51%,90564,4.84,0.00%,194,101489,2023 est.,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,103,URUGUAY,219406294000,0.0377%,64113,121,6508013,1.91%,3413766,1.91,0.02%,132,3416264,2023 est.,The Oriental Republic of Uruguay,.uy,UY,URY
28,42,UZBEKISTAN,1798254680000,0.30878%,56291,38,109347340,1.60%,31453574,3.48,0.31%,48,31360836,2023 est.,The Republic of Uzbekistan,.uz,UZ,UZB
91,120,YEMEN,138496775000,0.0238%,4611,79,25647990,1.62%,29274002,0.88,0.07%,47,31565602,2023 est.,The Republic of Yemen,.ye,YE,YEM
82,110,ZAMBIA,177977721000,0.0306%,10289,135,4230584,3.67%,16767761,0.25,0.01%,63,20216029,2023 est.,The Republic of Zambia,.zm,ZM,ZMB
86,115,ZIMBABWE,158453760000,0.0272%,10742,100,10062628,-4.17%,14452704,0.70,0.03%,73,15418674,2023 est.,The Republic of Zimbabwe,.zw,ZW,ZWE