**EVALUACIÓN 1 DE CIENCIA DE DATOS ESPACIALES

In [2]:
#Estos son las 3 fuentes de datos de países 

electricityLink='https://www.worldometers.info/energy/'
populationLink= 'https://www.cia.gov/the-world-factbook/field/population/country-comparison/'
co2Link='https://www.worldometers.info/co2-emissions/co2-emissions-by-country/'

import pandas as pd
co2List =pd.read_html(co2Link, header=0,flavor='bs4')
electricityList =pd.read_html(electricityLink, header=0,flavor='bs4')
populationList =pd.read_html(populationLink, header=0,flavor='bs4')

co2 = co2List[0]
electricity = electricityList[0]
population = populationList[0]

In [3]:
#merging

co2.shape, population.shape, electricity.shape

((209, 7), (237, 4), (209, 5))

In [4]:
#nombre de las clumnas de los dataframes

co2.columns, population.columns, electricity.columns

(Index(['#', 'Country', 'CO2 Emissions  (tons, 2016)', '1 Year  Change',
        'Population  (2016)', 'Per  capita', 'Share  of world'],
       dtype='object'),
 Index(['Rank', 'Country', 'Unnamed: 2', 'Date of Information'], dtype='object'),
 Index(['#', 'Country', 'Energy  Consumption (BTU)', 'World  Share',
        'Per capita Yearly BTU'],
       dtype='object'))

In [5]:
#La cantidad de coincidencias entre co2 y population que tendra el merge

co2.merge(population,how='inner',left_on='Country',right_on='Country').shape

(185, 10)

In [6]:
co2.merge(electricity,how='inner',left_on='Country',right_on='Country').shape

(206, 11)

In [7]:
electricity.merge(population,how='inner',left_on='Country',right_on='Country').shape

(184, 8)

In [8]:
#Realizamos el merge

combinacion_1=co2.merge(population,left_on='Country',right_on='Country')
combinacion_1

,#,Country,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,1,China,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.
1,2,United States,5011686600,-2.01%,327210198,15.32,14.02%,3,339665118,2023 est.
2,3,India,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.
3,4,Russia,1661899300,-2.13%,145109157,11.45,4.65%,9,141698923,2023 est.
4,5,Japan,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.
...,...,...,...,...,...,...,...,...,...,...
180,201,Kiribati,52818,7.18%,118513,0.45,0.00%,189,115372,2023 est.
181,203,Palau,41732,7.19%,17816,2.34,0.00%,218,21779,2023 est.
182,204,Cook Islands,37354,7.19%,17546,2.13,0.00%,223,7939,2023 est.
183,205,Anguilla,30262,1.52%,14813,2.04,0.00%,219,19079,2023 est.
184,209,Greenland,1530,0.86%,55916,0.03,0.00%,206,57777,2023 est.

In [9]:
#vemos las concidencias entre combinacion_1 y electricity

electricity.merge(combinacion_1,how='inner',left_on='Country',right_on='Country').shape

(183, 14)

In [10]:
#realizamos el merge entre la primera combinación y el 3er dataframe

combinacion_2=electricity.merge(combinacion_1,left_on='Country',right_on='Country')
combinacion_2

,#_x,Country,Energy Consumption (BTU),World Share,Per capita Yearly BTU,#_y,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,1,China,138689472800000,23.8%,98342,1,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.
1,2,United States,97661161460000,16.8%,296130,2,5011686600,-2.01%,327210198,15.32,14.02%,3,339665118,2023 est.
2,3,Russia,32832743720000,5.6%,225728,4,1661899300,-2.13%,145109157,11.45,4.65%,9,141698923,2023 est.
3,4,India,30476788610000,5.2%,22505,3,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.
4,5,Japan,19402928820000,3.3%,153186,5,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,199,British Virgin Islands,3397977000,0.00058%,113040,197,99762,1.51%,29739,3.35,0.00%,213,39369,2023 est.
179,201,Vanuatu,3059838000,0.00053%,10542,195,137706,7.18%,283218,0.49,0.00%,179,313046,2023 est.
180,206,Tonga,1807000000,0.00031%,17142,190,251375,7.19%,105707,2.38,0.00%,191,105221,2023 est.
181,207,Cook Islands,1677278000,0.00029%,96423,204,37354,7.19%,17546,2.13,0.00%,223,7939,2023 est.
182,209,Kiribati,46100000,0.00001%,383,201,52818,7.18%,118513,0.45,0.00%,189,115372,2023 est.

In [11]:
#Ahora realizaremos el merge con los datos del profesor 
import os
tabla_profesorLink='https://github.com/juandiegopozo-10/evaluacion1datos/blob/main/country_isos.xlsx'
import pandas as pd 
Tabla_1 = pd.read_excel(os.path.join('country_isos.xlsx'))
Tabla_1

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [12]:
# ahora convertiremos todos los paises del primer merge (combinacion_2) ha mayúscula para que así haya coincidencias

combinacion_2['Country'] = combinacion_2['Country'].str.upper()
combinacion_2

,#_x,Country,Energy Consumption (BTU),World Share,Per capita Yearly BTU,#_y,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,1,CHINA,138689472800000,23.8%,98342,1,10432751400,-0.28%,1401889681,7.44,29.18%,1,1413142846,2023 est.
1,2,UNITED STATES,97661161460000,16.8%,296130,2,5011686600,-2.01%,327210198,15.32,14.02%,3,339665118,2023 est.
2,3,RUSSIA,32832743720000,5.6%,225728,4,1661899300,-2.13%,145109157,11.45,4.65%,9,141698923,2023 est.
3,4,INDIA,30476788610000,5.2%,22505,3,2533638100,4.71%,1338636340,1.89,7.09%,2,1399179585,2023 est.
4,5,JAPAN,19402928820000,3.3%,153186,5,1239592060,-1.21%,126993857,9.76,3.47%,11,123719238,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,199,BRITISH VIRGIN ISLANDS,3397977000,0.00058%,113040,197,99762,1.51%,29739,3.35,0.00%,213,39369,2023 est.
179,201,VANUATU,3059838000,0.00053%,10542,195,137706,7.18%,283218,0.49,0.00%,179,313046,2023 est.
180,206,TONGA,1807000000,0.00031%,17142,190,251375,7.19%,105707,2.38,0.00%,191,105221,2023 est.
181,207,COOK ISLANDS,1677278000,0.00029%,96423,204,37354,7.19%,17546,2.13,0.00%,223,7939,2023 est.
182,209,KIRIBATI,46100000,0.00001%,383,201,52818,7.18%,118513,0.45,0.00%,189,115372,2023 est.

In [13]:
only_combinacion2 = set(combinacion_2.Country)-set(Tabla_1.Country)
only_combinacion2

{'ARUBA',
 'BERMUDA',
 'BOLIVIA',
 'BRITISH VIRGIN ISLANDS',
 'BRUNEI',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS',
 'COOK ISLANDS',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ERITREA',
 'FRENCH POLYNESIA',
 'GIBRALTAR',
 'GREENLAND',
 'HONG KONG',
 'IRAN',
 'ISRAEL',
 'KIRIBATI',
 'LAOS',
 'MOLDOVA',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NIGER',
 'PHILIPPINES',
 'PUERTO RICO',
 'RUSSIA',
 'SAINT LUCIA',
 'SOMALIA',
 'SOUTH AFRICA',
 'SUDAN',
 'SYRIA',
 'TAIWAN',
 'TANZANIA',
 'TONGA',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM'}

In [14]:
only_tabla1 = set(Tabla_1.Country)-set(combinacion_2.Country)
only_tabla1

{'BAHAMAS (THE)',
 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BRUNEI DARUSSALAM',
 'CENTRAL AFRICAN REPUBLIC (THE)',
 'COMOROS (THE)',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
 'CONGO (THE)',
 'CZECHIA',
 "C√îTE D'IVOIRE",
 'DOMINICAN REPUBLIC (THE)',
 'GAMBIA (THE)',
 'IRAN (ISLAMIC REPUBLIC OF)',
 'KOREA (THE REPUBLIC OF)',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)",
 'MICRONESIA (FEDERATED STATES OF)',
 'MOLDOVA (THE REPUBLIC OF)',
 'MYANMAR',
 'NETHERLANDS (THE)',
 'NIGER (THE)',
 'PHILIPPINES (THE)',
 'RUSSIAN FEDERATION (THE)',
 'SAO TOME AND PRINCIPE',
 'SUDAN (THE)',
 'TANZANIA, THE UNITED REPUBLIC OF',
 'TURKEY',
 'UNITED ARAB EMIRATES (THE)',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)',
 'VIET NAM'}

In [16]:
#ahora sí realizamos el merge con la tabla proporcionada por el profesor 

#Tabla_1.merge(combinacion_2,how='inner',left_on='Country',right_on='Country').shape
from thefuzz import process as fz
[(f,fz.extractOne(f,only_combinacion2))for f in sorted(only_tabla1)]

[('BAHAMAS (THE)', ('LAOS', 45)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)', ('CENTRAL AFRICAN REPUBLIC', 86)),
 ('CONGO (THE)', ('TONGA', 54)),
 ('CZECHIA', ('IRAN', 45)),
 ("C√îTE D'IVOIRE", ('VIETNAM', 49)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('GAMBIA (THE)', ('ARUBA', 54)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('KOREA (THE REPUBLIC OF)', ('DOMINICAN REPUBLIC', 59)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('CENTRAL AFRICAN REPUBLIC', 86)),
 ('MICRONESIA (FEDERATED STATES OF)', ('UNITED STATES', 86)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('MYANMAR', ('IRAN', 45)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SAO TOME AND PRINCIPE', ('NIGER', 54)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('TURKEY', ('ERITREA', 46)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90)),
 ('VIET NAM', ('VIETNAM', 93))]

In [17]:
#combinacion_final = combinacion_2.merge(Tabla_1,left_on='Country',right_on='Country')

#Este seriasería el resultado final 
#combinacion_final
[(f,fz.extractOne(f,only_combinacion2)) for f in sorted (only_tabla1) if fz.extractOne(f,only_combinacion2)[1]>=87]

[('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('CENTRAL AFRICAN REPUBLIC', 95)),
 ('COMOROS (THE)', ('COMOROS', 90)),
 ('DOMINICAN REPUBLIC (THE)', ('DOMINICAN REPUBLIC', 95)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('MOLDOVA (THE REPUBLIC OF)', ('MOLDOVA', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('TANZANIA', 90)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90)),
 ('VIET NAM', ('VIETNAM', 93))]

In [19]:
cambios_2 = {f:fz.extractOne(f,only_combinacion2)[0] for f in sorted(only_tabla1) if fz.extractOne(f,only_combinacion2)[1] >=87}
cambios_2

{'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA',
 'BRUNEI DARUSSALAM': 'BRUNEI',
 'CENTRAL AFRICAN REPUBLIC (THE)': 'CENTRAL AFRICAN REPUBLIC',
 'COMOROS (THE)': 'COMOROS',
 'DOMINICAN REPUBLIC (THE)': 'DOMINICAN REPUBLIC',
 'IRAN (ISLAMIC REPUBLIC OF)': 'IRAN',
 'MOLDOVA (THE REPUBLIC OF)': 'MOLDOVA',
 'NETHERLANDS (THE)': 'NETHERLANDS',
 'NIGER (THE)': 'NIGER',
 'PHILIPPINES (THE)': 'PHILIPPINES',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA',
 'SUDAN (THE)': 'SUDAN',
 'TANZANIA, THE UNITED REPUBLIC OF': 'TANZANIA',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES',
 'VIET NAM': 'VIETNAM'}

In [30]:
Tabla_1.Country.replace(to_replace=cambios_2,inplace=True)
Tabla_1

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIETNAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [31]:
#second try
only_combinacion2 = set(combinacion_2.Country)-set(Tabla_1.Country)
only_tabla1 = set(Tabla_1.Country)-set(combinacion_2.Country)

[(f,fz.extractOne(f,only_combinacion2))for f in sorted(only_tabla1)]

[('BAHAMAS (THE)', ('LAOS', 45)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)', ('TONGA', 54)),
 ('CONGO (THE)', ('TONGA', 54)),
 ('CZECHIA', ('ERITREA', 43)),
 ("C√îTE D'IVOIRE", ('ISRAEL', 45)),
 ('GAMBIA (THE)', ('ARUBA', 54)),
 ('KOREA (THE REPUBLIC OF)', ('KIRIBATI', 45)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('ISRAEL', 45)),
 ('MICRONESIA (FEDERATED STATES OF)', ('SYRIA', 54)),
 ('MYANMAR', ('VANUATU', 43)),
 ('SAO TOME AND PRINCIPE', ('SOUTH AFRICA', 48)),
 ('TURKEY', ('ERITREA', 46))]

In [33]:
cambios_3 = {f:fz.extractOne(f,only_combinacion2)[0] for f in sorted(only_tabla1) if 74<=fz.extractOne(f,only_combinacion2)[1]}
cambios_3

{}

In [35]:
Tabla_1.Country.replace(to_replace=cambios_3,inplace=True)
Tabla_1

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIETNAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [40]:
merge_final = Tabla_1.merge(combinacion_2, left_on='Country',right_on='Country', how='inner')
merge_final

,Country,Officialstatename,InternetccTLD,iso2,iso3,#_x,Energy Consumption (BTU),World Share,Per capita Yearly BTU,#_y,"CO2 Emissions (tons, 2016)",1 Year Change,Population (2016),Per capita,Share of world,Rank,Unnamed: 2,Date of Information
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,119,144694375000,0.0248%,4059,102,9900004,7.13%,34636207,0.29,0.03%,37,39232003,2023 est.
1,ALBANIA,The Republic of Albania,.al,AL,ALB,128,111843460000,0.0192%,38843,130,5208319,4.45%,2881063,1.81,0.01%,137,3101621,2023 est.
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,36,2398447784000,0.41184%,58305,35,156220560,0.17%,40339329,3.87,0.44%,34,44758398,2023 est.
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,85,362803130000,0.0623%,12010,75,30566933,3.13%,29154746,1.05,0.09%,41,35981281,2023 est.
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,184,10605278000,0.00182%,116389,182,438763,1.51%,90564,4.84,0.00%,194,101489,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,42,1798254680000,0.30878%,56291,38,109347340,1.60%,31453574,3.48,0.31%,48,31360836,2023 est.
155,VIETNAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,32,3242513713000,0.55678%,34483,29,206042140,0.09%,93126529,2.21,0.58%,16,104799174,2023 est.
156,YEMEN,The Republic of Yemen,.ye,YE,YEM,120,138496775000,0.0238%,4611,79,25647990,1.62%,29274002,0.88,0.07%,47,31565602,2023 est.
157,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,110,177977721000,0.0306%,10289,135,4230584,3.67%,16767761,0.25,0.01%,63,20216029,2023 est.
158,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,115,158453760000,0.0272%,10742,100,10062628,-4.17%,14452704,0.70,0.03%,73,15418674,2023 est.

In [41]:
#por último limpiamos un poco la data
merge_final.columns = merge_final.columns.str.replace(' ', '_')

merge_final

,Country,Officialstatename,InternetccTLD,iso2,iso3,#_x,Energy__Consumption_(BTU),World__Share,Per_capita_Yearly_BTU,#_y,"CO2_Emissions__(tons,_2016)",1_Year__Change,Population__(2016),Per__capita,Share__of_world,Rank,Unnamed:_2,Date_of_Information
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,119,144694375000,0.0248%,4059,102,9900004,7.13%,34636207,0.29,0.03%,37,39232003,2023 est.
1,ALBANIA,The Republic of Albania,.al,AL,ALB,128,111843460000,0.0192%,38843,130,5208319,4.45%,2881063,1.81,0.01%,137,3101621,2023 est.
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,36,2398447784000,0.41184%,58305,35,156220560,0.17%,40339329,3.87,0.44%,34,44758398,2023 est.
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,85,362803130000,0.0623%,12010,75,30566933,3.13%,29154746,1.05,0.09%,41,35981281,2023 est.
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,184,10605278000,0.00182%,116389,182,438763,1.51%,90564,4.84,0.00%,194,101489,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,42,1798254680000,0.30878%,56291,38,109347340,1.60%,31453574,3.48,0.31%,48,31360836,2023 est.
155,VIETNAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,32,3242513713000,0.55678%,34483,29,206042140,0.09%,93126529,2.21,0.58%,16,104799174,2023 est.
156,YEMEN,The Republic of Yemen,.ye,YE,YEM,120,138496775000,0.0238%,4611,79,25647990,1.62%,29274002,0.88,0.07%,47,31565602,2023 est.
157,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,110,177977721000,0.0306%,10289,135,4230584,3.67%,16767761,0.25,0.01%,63,20216029,2023 est.
158,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,115,158453760000,0.0272%,10742,100,10062628,-4.17%,14452704,0.70,0.03%,73,15418674,2023 est.

In [42]:
merge_final = merge_final.sort_values(by='Country')
merge_final

,Country,Officialstatename,InternetccTLD,iso2,iso3,#_x,Energy__Consumption_(BTU),World__Share,Per_capita_Yearly_BTU,#_y,"CO2_Emissions__(tons,_2016)",1_Year__Change,Population__(2016),Per__capita,Share__of_world,Rank,Unnamed:_2,Date_of_Information
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,119,144694375000,0.0248%,4059,102,9900004,7.13%,34636207,0.29,0.03%,37,39232003,2023 est.
1,ALBANIA,The Republic of Albania,.al,AL,ALB,128,111843460000,0.0192%,38843,130,5208319,4.45%,2881063,1.81,0.01%,137,3101621,2023 est.
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,36,2398447784000,0.41184%,58305,35,156220560,0.17%,40339329,3.87,0.44%,34,44758398,2023 est.
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,85,362803130000,0.0623%,12010,75,30566933,3.13%,29154746,1.05,0.09%,41,35981281,2023 est.
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,184,10605278000,0.00182%,116389,182,438763,1.51%,90564,4.84,0.00%,194,101489,2023 est.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,42,1798254680000,0.30878%,56291,38,109347340,1.60%,31453574,3.48,0.31%,48,31360836,2023 est.
155,VIETNAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,32,3242513713000,0.55678%,34483,29,206042140,0.09%,93126529,2.21,0.58%,16,104799174,2023 est.
156,YEMEN,The Republic of Yemen,.ye,YE,YEM,120,138496775000,0.0238%,4611,79,25647990,1.62%,29274002,0.88,0.07%,47,31565602,2023 est.
157,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,110,177977721000,0.0306%,10289,135,4230584,3.67%,16767761,0.25,0.01%,63,20216029,2023 est.
158,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,115,158453760000,0.0272%,10742,100,10062628,-4.17%,14452704,0.70,0.03%,73,15418674,2023 est.

In [43]:
merge_final = merge_final[['Country', 'Energy__Consumption_(BTU)','World__Share','Per_capita_Yearly_BTU','CO2_Emissions__(tons,_2016)','1_Year__Change','Population__(2016)','Per__capita','Unnamed:_2','Officialstatename','InternetccTLD','iso2','iso3']]
merge_final

,Country,Energy__Consumption_(BTU),World__Share,Per_capita_Yearly_BTU,"CO2_Emissions__(tons,_2016)",1_Year__Change,Population__(2016),Per__capita,Unnamed:_2,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,144694375000,0.0248%,4059,9900004,7.13%,34636207,0.29,39232003,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,111843460000,0.0192%,38843,5208319,4.45%,2881063,1.81,3101621,The Republic of Albania,.al,AL,ALB
2,ALGERIA,2398447784000,0.41184%,58305,156220560,0.17%,40339329,3.87,44758398,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,362803130000,0.0623%,12010,30566933,3.13%,29154746,1.05,35981281,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,10605278000,0.00182%,116389,438763,1.51%,90564,4.84,101489,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,UZBEKISTAN,1798254680000,0.30878%,56291,109347340,1.60%,31453574,3.48,31360836,The Republic of Uzbekistan,.uz,UZ,UZB
155,VIETNAM,3242513713000,0.55678%,34483,206042140,0.09%,93126529,2.21,104799174,The Socialist Republic of Viet Nam,.vn,VN,VNM
156,YEMEN,138496775000,0.0238%,4611,25647990,1.62%,29274002,0.88,31565602,The Republic of Yemen,.ye,YE,YEM
157,ZAMBIA,177977721000,0.0306%,10289,4230584,3.67%,16767761,0.25,20216029,The Republic of Zambia,.zm,ZM,ZMB
158,ZIMBABWE,158453760000,0.0272%,10742,10062628,-4.17%,14452704,0.70,15418674,The Republic of Zimbabwe,.zw,ZW,ZWE